body {
  min-width: 320px;
  margin: 0;
  color: $text-color;
  font-size: 16px;
  height: 100%;
  box-sizing: border-box;
}
.main-img {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}
