.cards {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  &__wrapper {
    position: relative;
    flex: 1;
    margin-left: 2.25rem;
    margin-right: 2.25rem;
  }
  &__item--disabled {
    background-color: #f6f6f6;
  }
  &__text {
    font-size: 0.813rem;
    color: #fff;
    font-family: 'Open Sans_my';
    text-align: center;
    margin-top: 0.75rem;
    letter-spacing: -0.5px;
    text-shadow: 0 0.063rem 0 #000000;
  }
  &__text--out-of-stock {
    color: $color-hghlight;
  }
  &__text-link {
    color: $color-default;
    text-decoration-style: dashed;
  }
}
