.cards {
  display: flex;
  justify-content: space-between;
  &__wrapper {
    position: relative;
    flex: 1;
    margin-left: 2.25rem;
    margin-right: 2.25rem;
  }
  &__text {
    font-size: 0.813rem;
    color: #fff;
    font-family: 'Open Sans_my';
    text-align: center;
    margin-top: 0.75rem;
    letter-spacing: -0.5px;
    text-shadow: 0 0.063rem 0 #000000;
  }
  &__text--highlight {
    color: $color-hghlight;
  }
  &__text-link {
    color: $color-default;
    text-decoration-style: dashed;
  }
}
