.cards {
  display: flex;
  overflow: hidden;

  justify-content: space-between;
  flex-wrap: wrap;
  &__wrapper {
    position: relative;

    margin-right: 2.5rem;
    margin-left: 2.5rem;

    flex: 1;
  }
  &__item--disabled {
    background-color: #f6f6f6;
  }
  &__text {
    margin-top: 0.75rem;

    text-align: center;
    letter-spacing: -0.5px;

    color: #fff;
    text-shadow: 0 0.063rem 0 #000000;

    font-family: 'Trebuchet MS';
    font-size: 0.875rem;
  }
  &__text--out-of-stock {
    color: $color-hghlight;
  }
  &__text-link {
    color: $color-default;

    text-decoration-style: dashed;
  }
}
@media (max-width: $screen-lg) {
  .cards {
    &__wrapper {
      margin-bottom: 40px;
    }
  }
}
